%main
    .background
        .container
            .gallery
                %h1{:style => "color:#b83dba"} Explore
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2015/07/11/23/01/stock-841436_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2014/11/26/15/20/saxophone-546303_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2018/06/29/01/47/piano-3505109_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2016/10/12/23/22/e-guitar-1736291_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2017/10/08/17/22/cello-2830670_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2015/09/05/12/53/violin-924349_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2019/10/18/19/04/the-french-horn-4559957_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2019/10/08/00/14/violin-4533910_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2015/10/20/07/54/bass-997372_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2015/12/27/05/48/turntable-1109588_1280.jpg"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://images.unsplash.com/photo-1505058707965-09a4469a87e4?w=500&h=500&fit=crop"}/
                .gallery-item{:tabindex => "0"}
                    %img.gallery-image{:alt => "", :src => "https://cdn.pixabay.com/photo/2014/12/30/06/04/mouse-583579_1280.png"}/
        .loader