%section.container.mt-5.mb-5{:style => "background-color:#01021d"}
  .row.justify-content-center
    .col-md-8
      .card{:style => "background-color:#01021d;"}
        .card-header New node
        .card-body= render 'form'
        .card-footer= link_to 'Back', nodes_path
