@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$base-color: #ffffff;
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'rooms';
@import 'about';
@import 'nodes';
@import 'matching';

.bg-purple {
  background: linear-gradient(45deg, #ffeded, #D3C6D9, #b83dba)
}
$accent: #b83dba;

.card-body {
  background-color:#F7E6E9;
  .card-title {
    color: #b83dba;
  }
  a.nav-link.room-nav-link {
    background-color: #fee;
  }
}
