.card.mt-3.mb-3
  .card-body
    %h4.card-title Welcome to LoLa Chat!
    .card-text Join in on a chat below.

- if @rooms.present?
  %nav.nav.flex-column.card
    .card-body
      .card-title Existing Rooms
      - @rooms.each do |room|
        .card-text
          = link_to room_path(room), class: 'nav-link room-nav-link' do
            %i.fa.fa-comments.fa-outline
            = room.name
      .card-footer
        .text-center
          = link_to new_room_path, class: 'btn btn-primary' do
            %i.fa.fa-plus
            Create a New Room
- else
  .text-muted
    There are no rooms

