.col
    .alert.alert-primary{:style => "background-color:#F7E6E9;"}
        .h4-style 
            %h4.alert-heading{:style => "color:#b83dba;"}
                Welcome!
            %p
                Create or open a chat below.

.mb-3{:style => "color:#b83dba;"}
    = link_to new_room_path, class: 'btn btn-primary' do
        Create a room
- if @rooms.present?
    %nav.nav.flex-column
        - @rooms.each do |room|
            = link_to room.name, room_path(room), class: 'nav-link room-nav-link'
- else
    .text-muted
        There are no rooms

