%h1.bg-purple{style: "color: rgb(100, 10, 140)"} Coming Soon!
%p Find me in app/views/public/about.html.haml
.container
	.row
.col-12
.bd-example
	#carouselExampleCaptions.carousel.slide{"data-ride" => "carousel"}
		%ol.carousel-indicators
			%li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleCaptions"}
			%li{"data-slide-to" => "1", "data-target" => "#carouselExampleCaptions"}
			%li{"data-slide-to" => "2", "data-target" => "#carouselExampleCaptions"}
		.carousel-inner
			.carousel-item.active
				%img.d-block.w-100{:alt => "...", :src => "..."}/
				.carousel-caption.d-none.d-md-block
					%h5 First slide label
					%p Nulla vitae elit libero, a pharetra augue mollis interdum.
			.carousel-item
				%img.d-block.w-100{:alt => "...", :src => "..."}/
				.carousel-caption.d-none.d-md-block
					%h5 Second slide label
					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.carousel-item
				%img.d-block.w-100{:alt => "...", :src => "..."}/
				.carousel-caption.d-none.d-md-block
					%h5 Third slide label
					%p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
		%a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleCaptions", :role => "button"}
			%span.carousel-control-prev-icon{"aria-hidden" => "true"}
			%span.sr-only Previous
		%a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleCaptions", :role => "button"}
			%span.carousel-control-next-icon{"aria-hidden" => "true"}
			%span.sr-only Next
		.col-12
			carousel
	.row
		.col-12
			%h2 H1
	.row
		.col-4
			Columns 1-4
			%ul
				%li
				Item 1
				Item 2
				Item 3
		.col-4
			Columns 5-8
			%ul
				%li
				Item 1
				Item 2
				Item 3
		.col-4
			Columns 9-12
			%ul
				%li
				Item 1
				Item 2
				Item 3