%h1.bg-purple{style: "color: rgb(100, 10, 140)"} Coming Soon!
%p Find me in app/views/public/about.html.haml
.container
	.row
		.col-12
			carousel
	.row
		.col-12
			%h2 Heading
	.row
		.col-4
			Columns 1-4
			%ul
				%li
				Item 1
				Item 2
				Item 3
		.col-4
			Columns 5-8
			%ul
				%li
				Item 1
				Item 2
				Item 3
		.col-4
			Columns 9-12
			%ul
				%li
				Item 1
				Item 2
				Item 3